// Source for some neat mixins:
// http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/
@mixin gradient-header($color1, $color2) {
  background: $color1; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, $color1, $color2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, $color1, $color2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, $color1, $color2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, $color1, $color2); /* Standard syntax */}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }}

  body{
  font-size: 12pt;
  background-color: #444;
  @include gradient-header(#55bb44, #33ff88);
  font-family: "Helvetica", sans;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html,body{height:100%;margin:0;padding:0}

div{
 // border: black solid 1px;
}

.header-div{
  margin: 0 4vh;
  border: black solid 1px;
  @include box-shadow(4px, 2px, 8px, #000);
  height: 90vh;
}
.morse-title{
  font-family: 'Corben', cursive;
  color: black;
  font-size: 2em;
  text-align: center;
  letter-spacing: 0.2em;

  #code1{
    position: relative;
    z-index: 4;
  }

  #code2{
    position: relative;
    z-index:5;
    margin-top: -40px;
  }
}

.text-to-morse{
  border: silver solid 1px;
  height: 100%;
  background-color: rgba(255,255,255,.2);
  width: 100%;

  textarea{
    width: 65%;
    height: 30vh;
  }
}

.morse-dashes{
  text-align: center;
  font-family: Georgia;
  color: #f55;
  font-size: 5em;
  background-color: rgba(255,255,255,.6);
  max-height:40vh;
  overflow: auto;
}  

.blinky-div{
  display: inline;
  color: white;
  background-color: orange;
}

#morse-svg{
  margin-top: -30px;
  margin-bottom: -40px;
  width: 40vw;
  min-width: 400px;
  z-index: -1;
}

#div3{
  width: 20vw;
  height: 20vh;
}